
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Untree.co">

<meta name="description" content="">
<meta name="keywords" content="">
<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
<link href="{{url_for('static',filename='css/css2.css')}}" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/owl.theme.default.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/jquery.fancybox.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/flaticon.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/aos.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/style1.css')}}">
<title>Landing Free HTML Template by Untree.co</title>
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="100">
<div class="site-mobile-menu site-navbar-target">
<div class="site-mobile-menu-header">
<div class="site-mobile-menu-close">
<span class="icofont-close js-menu-toggle"></span>
</div>
</div>
<div class="site-mobile-menu-body"></div>
</div>
<nav class="site-nav dark js-site-navbar mb-5 site-navbar-target">
<div class="container">
<div class="site-navigation">
<a href="index1.html" class="logo m-0 float-left">Landing<span class="text-primary">.</span></a>
<ul class="js-clone-nav d-none d-lg-inline-block site-menu float-left">
<li class="active"><a href="#home-section" class="nav-link">Home</a></li>
<li class="has-children">
<a href="#" class="nav-link">Dropdown</a>
<ul class="dropdown">
<li><a href="index1.html#testimonials-section" class="nav-link">Testimonials</a></li>
<li class="active"><a href="elements.html" class="nav-link">Elements</a></li>
<li class="has-children">
<a href="#">Menu Two</a>
<ul class="dropdown">
<li><a href="#" class="nav-link">Sub Menu One</a></li>
<li><a href="#" class="nav-link">Sub Menu Two</a></li>
<li><a href="#" class="nav-link">Sub Menu Three</a></li>
</ul>
</li>
<li><a href="#" class="nav-link">Menu Three</a></li>
</ul>
</li>
<li><a href="#features-section" class="nav-link">Features</a></li>
<li><a href="#pricing-section" class="nav-link">Pricing</a></li>
<li><a href="#about-section" class="nav-link">About</a></li>
<li><a href="#contact-section" class="nav-link">Contact</a></li>
</ul>
<ul class="js-clone-nav d-none mt-1 d-lg-inline-block site-menu float-right">
<li class="cta-button-outline"><a href="">Sign in</a></li>
<li class="cta-primary"><a href="register.html">Register</a></li>
</ul>
<a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block dark d-lg-none" data-toggle="collapse" data-target="#main-navbar">
<span></span>
</a>
</div>
</div>
</nav>
<div class="untree_co-login-register">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-5">
<div class="custom-box" data-aos="fade-up" data-aos-delay="0">
<h2 class="heading">Sign In</h2>
<div action="#">
<div class="form-field">
<label for="email">Username</label>
<input type="text" class="form-control" id="userid">
</div>
<div class="form-field">
<label for="password">Password</label>
<input type="password" class="form-control" id="userpwd">
</div>
<div class="form-field">
<input type="submit" onclick="login()" class="btn btn-primary btn-block" value="Sign in">
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="site-footer">
<div class="footer-dots"></div> 
<div class="container">
<div class="row">
<div class="col-lg-4">
<div class="widget">
<h3>About Launch<span class="text-primary">.</span> </h3>
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
</div> 
<div class="widget">
<h3>Follow Us</h3>
<ul class="list-unstyled social">
<li><a href="#"><span class="icon-instagram"></span></a></li>
<li><a href="#"><span class="icon-twitter"></span></a></li>
<li><a href="#"><span class="icon-facebook"></span></a></li>
<li><a href="#"><span class="icon-linkedin"></span></a></li>
<li><a href="#"><span class="icon-pinterest"></span></a></li>
<li><a href="#"><span class="icon-dribbble"></span></a></li>
</ul>
</div> 
</div> 
<div class="col-lg-2 ml-auto">
<div class="widget">
<h3>Projects</h3>
<ul class="list-unstyled float-left links">
<li><a href="#">Home</a></li>
<li><a href="#">Services</a></li>
<li><a href="#">Features</a></li>
<li><a href="#">Pricing</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Contact</a></li>
</ul>
</div> 
</div> 
<div class="col-lg-2">
<div class="widget">
<h3>Services</h3>
<ul class="list-unstyled float-left links">
<li><a href="#">Built for Developers</a></li>
<li><a href="#">Modern Design</a></li>
<li><a href="#">Building Stunning Websites</a></li>
<li><a href="#">Bring Ideas To Life</a></li>
</ul>
</div> 
</div> 
<div class="col-lg-3">
<div class="widget">
<h3>Quick Contact</h3>
<address>43 Raymouth Rd. Baltemoer, London 3910</address>
<ul class="list-unstyled links mb-4">
<li><a href="tel://11234567890">+1(123)-456-7890</a></li>
<li><a href="tel://11234567890">+1(123)-456-7890</a></li>
<li><a href="email-protection.html#6d04030b022d00140902000c0403430e0200"><span class="__cf_email__" data-cfemail="30595e565f705d49545f5d51595e1e535f5d">[email&#160;protected]</span></a></li>
</ul>
</div> 
</div> 
</div> 
<div class="row mt-5">
<div class="col-12 text-center">
<p class="copyright">Copyright &copy; 2022.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
</p>
</div>
</div>
</div> 
</div> 
<div id="overlayer"></div>
<div class="loader">
<div class="spinner-border" role="status">
<span class="sr-only">Loading...</span>
</div>
</div>
<script src="{{url_for('static',filename='js/jquery-3.4.1.min.js')}}" type="04223ad77d6e5f1551e04c43-text/javascript"></script>
<script src="{{url_for('static',filename='js/jquery-migrate-3.0.1.min.js')}}" type="04223ad77d6e5f1551e04c43-text/javascript"></script>
<script src="{{url_for('static',filename='js/popper.min.js')}}" type="04223ad77d6e5f1551e04c43-text/javascript"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}" type="04223ad77d6e5f1551e04c43-text/javascript"></script>
<script src="{{url_for('static',filename='js/owl.carousel.min.js')}}" type="04223ad77d6e5f1551e04c43-text/javascript"></script>
<script src="{{url_for('static',filename='js/jquery.easing.1.3.js')}}" type="04223ad77d6e5f1551e04c43-text/javascript"></script>
<script src="{{url_for('static',filename='js/jquery.animateNumber.min.js')}}" type="04223ad77d6e5f1551e04c43-text/javascript"></script>
<script src="{{url_for('static',filename='js/jquery.waypoints.min.js')}}" type="04223ad77d6e5f1551e04c43-text/javascript"></script>
<script src="{{url_for('static',filename='js/jquery.fancybox.min.js')}}" type="04223ad77d6e5f1551e04c43-text/javascript"></script>
<script src="{{url_for('static',filename='js/aos.js')}}" type="04223ad77d6e5f1551e04c43-text/javascript"></script>
<script src="{{url_for('static',filename='js/custom.js')}}" type="04223ad77d6e5f1551e04c43-text/javascript"></script>
<script async="" src="{{url_for('static',filename='js/js.js')}}" type="04223ad77d6e5f1551e04c43-text/javascript"></script><script type="04223ad77d6e5f1551e04c43-text/javascript">window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag("js", new Date()); gtag("config", "UA-166033648-1");</script><script src="static/js/rocket-loader.min.js" data-cf-settings="04223ad77d6e5f1551e04c43-|49" defer=""></script></body>
<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
<script type="text/javascript">
    login = function(){
        var userid=$('#userid').val();
        var userpwd=$('#userpwd').val();
        if(userid=="" || userpwd==""){
            alert("请填写正确的用户名和密码。");
            return;
        }
        // var check_data = {
        //     'type': 'check',
        //     'name':name,
        //     'sentence':sentence
        // };
        // var update_data = {
        //     'type': 'update',
        //     'sentence':sentence,
        // };
        var login_data = {
            'type': 'login',
            'userid':userid,
            'userpwd':md5(userpwd)
        };
        alert(login_data.userpwd)
        $.ajax({
            url:'/login',
            type: "POST",
            data: login_data,
            dataType: "json",
            success: function (data) {
                alert(data[0])
                if(data[0] == "用户名或密码正确"){
                    alert(data[0]);
                    location.href="/";
                    sessionStorage.setItem('uid', uid);
                    sessionStorage.setItem('userType','admin');
                }
                else{
                    alert(data[0]);
                }
                
                
                // layer.confirm('检测结果是'+data.check_result+'，概率为'+data.possibility+'，我的结论正确吗？', {
                //     btn: ['正确', '错误',]
                // }, function(index, layero){
                //     alert("谢谢您的反馈！");
                //     layer.close(index);
                //     $("#name").val("");
                //     $("#sentence").val("");
                // }, function(index){
                //     $.ajax({
                //         url:'/',
                //         type: "POST",
                //         data: update_data,
                //         dataType: "json",
                //         success: function (data) {
                //             alert(data.done);
                //             layer.close(index);
                //             $("#name").val("");
                //             $("#sentence").val("");
                //         }
                //     })
                // });
            }
        })
    }
</script>
</html>
