{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>影盾 - 大数据展示平台</title>
    <script type="text/javascript" src="{% static 'index/js/jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'index/css/comon0.css' %}">
</head>
<script type="text/javascript">
	$(document).ready(function(){
		var html=$(".wrap ul").html()
		$(".wrap ul").append(html)
		var ls=$(".wrap li").length/2+1
		i=0
		ref = setInterval(function(){
			i++
			if(i==ls){
				i=1
				$(".wrap ul").css({marginTop:0})
				$(".wrap ul").animate({marginTop:-'.52'*i+'rem'},1000)
			}
	    	$(".wrap ul").animate({marginTop:-'.52'*i+'rem'},1000)


		},2400);



				var html2=$(".adduser ul").html()
		$(".adduser ul").append(html2)
		var ls2=$(".adduser li").length/2+1
		a=0
		ref = setInterval(function(){
			a++
			if(a==ls2){
				a=1
				$(".adduser ul").css({marginTop:0})
				$(".adduser ul").animate({marginTop:-'.5'*a+'rem'},800)
			}
	    	$(".adduser ul").animate({marginTop:-'.5'*a+'rem'},800)


		},4300);
	})
</script>
<body>
    <div class="loading">
        <div class="loadbox"> <img src="{% static 'index/images/loading.gif' %}"> 页面加载中... </div>
    </div>
    <div class="head">
        <h1><img src="{% static 'index/images/logo.png' %}">影盾大数据展示平台</h1>
        <div class="weather"><!--<img src="{% static 'index/images/weather.png' %}"><span>多云转小雨</span>--><span id="showTime"></span></div>
    </div>
    <script>
        var t = null;
            t = setTimeout(time,1000);//开始运行
            function time()
            {
               clearTimeout(t);//清除定时器
               dt = new Date();
                var y=dt.getFullYear();
                var mt=dt.getMonth()+1;
                var day=dt.getDate();
               var h=dt.getHours();//获取时
               var m=dt.getMinutes();//获取分
               var s=dt.getSeconds();//获取秒
               document.getElementById("showTime").innerHTML = y+"年"+mt+"月"+day+"日"+h+"时"+m+"分"+s+"秒";
               t = setTimeout(time,1000); //设定定时器，循环运行     
            } 
    </script>
    <div class="mainbox">
        <ul class="clearfix">
            <li>
                <div class="boxall" style="height: 2.7rem">
                    <div class="alltitle">基本情况</div>

                    <div class="sycm">
                        <ul class="clearfix">
                            <li><h2>52</h2><span>今日恶意评论</span></li>
                            <li><h2>23</h2><span>今日恶意用户</span></li>
                            <li><h2>31</h2><span>总水军团体数</span></li>
                        </ul>
                        <div style="border-bottom: 1px solid rgba(255,255,255,.1)"></div>
                        <ul class="clearfix">
                            <li><h2>2</h2><span>爬虫运行数</span></li>
                            <li><h2>11</h2><span>告警次数</span></li>
                            <li><h2>0.12</h2><span>恶意影响因子</span></li>
                        </ul>


                    </div>
                    <div class="boxfoot"></div>
                </div>
                <!-- <div class="boxall" style="height: 2.65rem">
                    <div class="alltitle">消费占比</div>
                    <div class="sy" id="echarts1"></div>
                    <div class="sy" id="echarts2"></div>
                    <div class="sy" id="echarts3"></div>
                    <div class="boxfoot"></div>
                </div> -->
                <div class="boxall" style="height: 2.65rem" >
                    <div class="alltitle">各电影恶意评论统计</div>
                    <div class="allnav" id="echart2" style="height: 2.0rem; width: 100%;"></div>
                    <div class="boxfoot"></div>
                </div>
                <div class="boxall" style="height: 2.95rem">
                    <div class="alltitle">行业区分比例</div>
                    <div id="echarts4" style="height: 2.2rem; width: 100%;"></div>
                    <div class="boxfoot"></div>
                </div>
            </li>
            <li>
                <div class="bar">
                    <div class="barbox">
                        <ul class="clearfix">
                            <li class="pulll_left counter">{{count_spam_total}}</li>
                            <li class="pulll_left counter">263</li>
                        </ul>
                    </div>
                    <div class="barbox2">
                        <ul class="clearfix">
                            <li class="pulll_left">恶意评论数目</li>
                            <li class="pulll_left">恶意用户数目</li>
                        </ul>
                    </div>
                </div>
                <div class="map">
                    <div class="map1"><img src="{% static 'index/images/lbx.png' %}"></div>
                    <div class="map2"><img src="{% static 'index/images/jt.png' %}"></div>
                    <div class="map3"><img src="{% static 'index/images/map.png' %}"></div>
                    <div class="map4" id="map_1"></div>
                </div>
            </li>
            <li>
                <div class="boxall" style="height:3.6rem;  text-align:center">
                    <div class="alltitle">系统入口</div>
                    <div class="wrap1">
                        <br>
                        <ul>
                            <li>
                                <p onclick="redirect1()">电影威胁感知</p>
                            </li>
                            <li>
                                <p onclick="redirect2()">水军用户画像</p>
                            </li>
                            <li>
                                <p onclick="redirect3()">水军群体画像</p>
                            </li>
                            <li>
                                <p onclick="redirect4()">系统爬虫管理</p>
                            </li>
                            <li>
                                <p onclick="redirect5()">用户告警设置</p>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="tabs">
                        <ul class="clearfix">
                            <li><a class="active" href="#">7天</a></li>
                            <li><a href="#">15天</a></li>
                            <li><a href="#">30天</a></li>
                        </ul>
                    </div> -->
                    <!-- <div class="clearfix">
                        <div class="sy" id="echarts6"></div>
                        <div class="sy" id="echarts7"></div>
                        <div class="sy" id="echarts8"></div>
                    </div> -->
                    <!-- <div class="addnew">
                        <div class="tit02"><span>今日新增会员列表</span></div>
                        <div class="adduser">
                            <ul class="clearfix">
                                <li class="clearfix"> <span class="pulll_left"><img src="{% static 'index/images/head.jpg' %}">1今日新增会员列表</span> <span class="pulll_right">24岁 - 女 - 广州 </span> </li>
                                <li class="clearfix"> <span class="pulll_left"><img src="{% static 'index/images/head.jpg' %}">2今日新增会员列表</span> <span class="pulll_right">24岁 - 女 - 广州 </span> </li>
                                <li class="clearfix"> <span class="pulll_left"><img src="{% static 'index/images/head.jpg' %}">3今日新增会员列表</span> <span class="pulll_right">24岁 - 女 - 广州 </span> </li>
                                <li class="clearfix"> <span class="pulll_left"><img src="{% static 'index/images/head.jpg' %}">4今日新增会员列表</span> <span class="pulll_right">24岁 - 女 - 广州 </span> </li>
                            </ul>
                        </div>
                    </div> -->
                    <div class="boxfoot"></div>
                </div>
                <div class="boxall" style="height: 5.0rem">
                    <div class="alltitle">近期电影垃圾评论展示</div>
                    <div class="wrap">
                        <br>
                        <ul>
                            <li>
                                <p>{{comment1}}</p>
                            </li>
                            <li>
                                <p>{{comment2}}</p>
                            </li>
                            <li>
                                <p>{{comment3}}</p>
                            </li>
                            <li>
                                <p>{{comment4}}</p>
                            </li>
                            <li>
                                <p>{{comment5}}</p>
                            </li>
                            <li>
                                <p>{{comment6}}</p>
                            </li>
                            <li>
                                <p>{{comment7}}</p>
                            </li>
                            <li>
                                <p>{{comment8}}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="boxfoot"></div>
                </div>
            </li>
        </ul>
 
    </div>
    <div class="back"></div>
    <script language="JavaScript" src="{% static 'index/js/js.js' %}"></script>
    <script type="text/javascript" src="{% static 'index/js/echarts.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'index/js/china.js' %}"></script>
    <script type="text/javascript" src="{% static 'index/js/area_echarts.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // myChart1.resize();
            myChart2.resize();
            // myChart3.resize();
            // myChart6.resize();
            // myChart7.resize();
            // myChart8.resize();
        })
        window.addEventListener("resize", function () {
            // myChart1.resize();
            myChart2.resize();
            // myChart3.resize();
            // myChart6.resize();
            // myChart7.resize();
            // myChart8.resize();
        });
    </script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart2 = echarts.init(document.getElementById('echart2'));

       option2 = {
  //  backgroundColor: '#00265f',
    tooltip: {
        trigger: 'axis',
        axisPointer: { type: 'shadow'}
    },
    grid: {
        left: '0%',
		top:'10px',
        right: '0%',
        bottom: '4%',
       containLabel: true
    },
    xAxis: [{
        type: 'category',
      		data: ['满江红', '流浪地球2', '熊出没', '铃芽之旅', '侧耳倾听'],
        axisLine: {
            show: true,
         lineStyle: {
                color: "rgba(255,255,255,.1)",
                width: 1,
                type: "solid"
            },
        },
		
        axisTick: {
            show: false,
        },
		axisLabel:  {
                interval: 0,
               // rotate:50,
                show: true,
                splitNumber: 15,
                textStyle: {
 					color: "rgba(255,255,255,.6)",
                    fontSize: '12',
                },
            },
    }],
    yAxis: [{
        type: 'value',
        axisLabel: {
           //formatter: '{value} %'
			show:true,
			 textStyle: {
 					color: "rgba(255,255,255,.6)",
                    fontSize: '12',
                },
        },
        axisTick: {
            show: false,
        },
        axisLine: {
            show: true,
            lineStyle: {
                color: "rgba(255,255,255,.1	)",
                width: 1,
                type: "solid"
            },
        },
        splitLine: {
            lineStyle: {
               color: "rgba(255,255,255,.1)",
            }
        }
    }],
    series: [
		{
       
        type: 'bar',
        data: [1500, 1200, 600, 300, 200],
        barWidth:'35%', //柱子宽度
       // barGap: 1, //柱子之间间距
        itemStyle: {
            normal: {
                color:'#27d08a',
                opacity: 1,
				barBorderRadius: 5,
            }
        }
    }
		
	]
};
        setTimeout(function () {
            myChart2.setOption(option2);
        }, 500);

        // 使用刚指定的配置项和数据显示图表。
        // myChart2.setOption(option);
        // window.addEventListener("resize",function(){
        //     myChart2.resize();
        // });
    </script>
    <script type="text/javascript">
        var v0 = 1000;
        var v1 = 353;
        var v2 = 178;
        var v3 = 68;



        var myChart6 = echarts.init(document.getElementById('echarts6'));
        option6 = {
            series: [{
                type: 'pie',
                radius: ['70%', '80%'],
                color: '#0088cc',
                label: {
                    normal: {
                        position: 'center'
                    }
                },
                data: [{
                    value: v1,
                    name: '新增会员',
                    label: {
                        normal: {
                            formatter: v1 + '',
                            textStyle: {
                                fontSize: 20,
                                color: '#fff',
                            }
                        }
                    }
                },
                       {
                           value: v0,
                           name: '老会员',
                           label: {
                               normal: {
                                   formatter: function (params) {
                                       return '占比' + Math.round(v1 / v0 * 100) + '%'
                                   },
                                   textStyle: {
                                       color: '#aaa',
                                       fontSize: 12
                                   }
                               }
                           },
                           itemStyle: {
                               normal: {
                                   color: 'rgba(255,255,255,.2)'
                               },
                               emphasis: {
                                   color: '#fff'
                               }
                           },
                       }]
            }]

        };

        var myChart7 = echarts.init(document.getElementById('echarts7'));
        option7 = {
            series: [{
                type: 'pie',
                radius: ['70%', '80%'],
                color: '#fccb00',
                label: {
                    normal: {
                        position: 'center'
                    }
                },
                data: [{
                    value: v2,
                    name: '新增领卡会员',
                    label: {
                        normal: {
                            formatter: v2 + '',
                            textStyle: {
                                fontSize: 20,
                                color: '#fff',
                            }
                        }
                    }
                },
                       {
                           value: v0,
                           name: '总领卡会员',
                           label: {
                               normal: {
                                   formatter: function (params) {
                                       return '占比' + Math.round(v2 / v0 * 100) + '%'
                                   },
                                   textStyle: {
                                       color: '#aaa',
                                       fontSize: 12
                                   }
                               }
                           },
                           itemStyle: {
                               normal: {
                                   color: 'rgba(255,255,255,.2)'
                               },
                               emphasis: {
                                   color: '#fff'
                               }
                           },
                       }]
            }]
        };


        var myChart8 = echarts.init(document.getElementById('echarts8'));
        option8 = {


            series: [{

                type: 'pie',
                radius: ['70%', '80%'],
                color: '#62b62f',
                label: {
                    normal: {
                        position: 'center'
                    }
                },
                data: [{
                    value: v3,
                    name: '女消费',
                    label: {
                        normal: {
                            formatter: v3 + '',
                            textStyle: {
                                fontSize: 20,
                                color: '#fff',
                            }
                        }
                    }
                }, {
                    value: v0,
                    name: '男消费',
                    label: {
                        normal: {
                            formatter: function (params) {
                                return '占比' + Math.round(v2 / v0 * 100) + '%'
                            },
                            textStyle: {
                                color: '#aaa',
                                fontSize: 12
                            }
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: 'rgba(255,255,255,.2)'
                        },
                        emphasis: {
                            color: '#fff'
                        }
                    },
                }]
            }]
        };
        setTimeout(function () {
            myChart6.setOption(option6);
            myChart7.setOption(option7);
            myChart8.setOption(option8);
        }, 500);

    </script>
    <!-- <script type="text/javascript">
        var myChart1 = echarts.init(document.getElementById('echarts1'));
        var v1 = 298;
        var v2 = 523;
        var v3 = v1 + v2;
        option1 = {

      
            series: [{
                type: 'pie',
                radius: ['70%', '80%'],
                color: '#0088cc',
                label: {
                    normal: {
                        position: 'center'
                    }
                },
                data: [{
                    value: v1,
                    name: '平均单客价',
                    label: {
                        normal: {
                            formatter: v3 + '',
                            textStyle: {
                                fontSize: 20,
                                color: '#fff',
                            }
                        }
                    }
                },
                ]
            }]
        };


        var myChart3 = echarts.init(document.getElementById('echarts3'));
        var v1 = 298 
        var v2 = 523 
        var v3 = v1 + v2 
        option2 = {

       
            series: [{
                type: 'pie',
                radius: ['70%', '80%'],
                color: '#fccb00',
                label: {
                    normal: {
                        position: 'center'
                    }
                },
                data: [{
                    value: v1,
                    name: '男消费',
                    label: {
                        normal: {
                            formatter: v1 + '',
                            textStyle: {
                                fontSize: 20,
                                color: '#fff',
                            }
                        }
                    }
                }, {
                    value: v2,
                    name: '女消费',
                    label: {
                        normal: {
                            formatter: function (params) {
                                return '占比' + Math.round(v1 / v3 * 100) + '%'
                            },
                            textStyle: {
                                color: '#aaa',
                                fontSize: 12
                            }
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: 'rgba(255,255,255,.2)'
                        },
                        emphasis: {
                            color: '#fff'
                        }
                    },
                }]
            }]
        };


        var myChart2 = echarts.init(document.getElementById('echarts2'));
        option3 = {


            series: [{

                type: 'pie',
                radius: ['70%', '80%'],
                color: '#62b62f',
                label: {
                    normal: {
                        position: 'center'
                    }
                },
                data: [{
                    value: v2,
                    name: '女消费',
                    label: {
                        normal: {
                            formatter: v2 + '',
                            textStyle: {
                                fontSize: 20,
                                color: '#fff',
                            }
                        }
                    }
                }, {
                    value: v1,
                    name: '男消费',
                    label: {
                        normal: {
                            formatter: function (params) {
                                return '占比' + Math.round(v2 / v3 * 100) + '%'
                            },
                            textStyle: {
                                color: '#aaa',
                                fontSize: 12
                            }
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: 'rgba(255,255,255,.2)'
                        },
                        emphasis: {
                            color: '#fff'
                        }
                    },
                }]
            }]
        };
        setTimeout(function () {
            myChart1.setOption(option1);
            myChart2.setOption(option2);
            myChart3.setOption(option3);
        }, 500);

    </script> -->
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('echarts4'));
        var plantCap = [{
            name: '工业',
            value: '222'
        }, {
            name: '农业',
            value: '115'
        }, {
            name: '互联网',
            value: '113'
        }, {
            name: '医疗',
            value: '95'
        }, {
            name: '文学',
            value: '92'
        }, {
            name: '服装',
            value: '87'
        }];
        var datalist = [{
            offset: [56, 48],
            symbolSize: 110,
   
            color: 'rgba(73,188,247,.14)',

        }, {

            offset: [30, 70],
            symbolSize: 70,
            color: 'rgba(73,188,247,.14)'
        }, {
            offset: [0, 43],
            symbolSize: 60,
            color: 'rgba(73,188,247,.14)'

        }, {
            offset: [93, 30],
            symbolSize: 70,
            color: 'rgba(73,188,247,.14)'
        }, {
            offset: [26, 19],
            symbolSize: 65,
            color: 'rgba(73,188,247,.14)'
        }, {
            offset: [75, 75],
            symbolSize: 60,
            color: 'rgba(73,188,247,.14)'

        }];

        var datas = [];
        for (var i = 0; i < plantCap.length; i++) {
            var item = plantCap[i];
            var itemToStyle = datalist[i];
            datas.push({
                name: item.value + '\n' + item.name,
                value: itemToStyle.offset,
                symbolSize: itemToStyle.symbolSize,
                label: {
                    normal: {
                        textStyle: {
                            fontSize: 14
                        }
                    }
                },

                itemStyle: {
                    normal: {
                        color: itemToStyle.color,
                        opacity: itemToStyle.opacity
                    }
                },
            })
        }
        option = {
            grid: {
                show: false,
                top: 10,
                bottom: 10
            },

            xAxis: [{
                gridIndex: 0,
                type: 'value',
                show: false,
                min: 0,
                max: 100,
                nameLocation: 'middle',
                nameGap: 5
            }],

            yAxis: [{
                gridIndex: 0,
                min: 0,
                show: false,
                max: 100,
                nameLocation: 'middle',
                nameGap: 30
            }],
            series: [{
                type: 'scatter',
                symbol: 'circle',
                symbolSize: 120,
                label: {
                    normal: {
                        show: true,
                        formatter: '{b}',
                        color: '#FFF',
                        textStyle: {
                            fontSize: '30'
                        }
                    },
                },
                itemStyle: {
                    normal: {
                        color: '#F30'
                    }
                },
                data: datas
            }]

        };
        myChart.setOption(option);
        $(document).ready(function () {
            myChart.resize();

        })
        window.addEventListener("resize", function () {
            myChart.resize();
        });
    </script>
    <script type="text/javascript" src="{% static 'index/js/jquery.waypoints.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'index/js/jquery.countup.min.js' %}"></script>
    <script type="text/javascript">
        $('.counter').countUp();
    </script>
    <script type="text/javascript">
        function redirect1(){
            window.location.href="movie"
        }
    </script>

</body>
</html>
